.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

/* =============================
   1. CSS RESET
   ============================= */
   *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul li {
    font-style: none;
    list-style: none;
  }

  a {
    font-style: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

   /* =============================
   2. VARIABLES
   ============================= */

   :root {
    --ff: "Outfit", sans-serif;

    --fs: 1.5rem;

    --fw-300:300;
    --fw-400:400;
    --fw-600:600;

    --c-white:#ffff;
    --c-blue-500:#8bacda;
    --c-cyan:#00fff7;
    --c-blue-900:#14253d;
    --c-blue-950:#0d192b;
    --c-blue-800:#2f415b;
}

  /* =============================
   CONTAINERS
   ============================= */
   body {
    background-color: var(--c-blue-950);
    font-family: var(--ff);
   }

   .component-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
   }

   .card-container {
    background-color: #14253d;
    padding: 1.25rem;
    border-radius: 1rem;
    max-width: 350px;
    width: 100%;
   }

   .nft-hero {
    position: relative;
   }

   .nft-content {
    margin: 1.25rem 0;
    width: 100%;
   }

   .nft-selling-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

   .nft-creator {
    display: flex;
    align-items: center;
    margin: 1.5rem 0 .125rem;
   }

   /* =============================
   HEADER
   ============================= */
   .nft-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: .75rem;
  }

   /* =============================
   MAIN
   ============================= */
   .nft-title {
      color: var(--c-white);
      font-weight: 400;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .nft-desc {
      color: var(--c-blue-500);
      line-height: 1.5;
    }

    .nft-price, .nft-time-left{
      display: flex;
      align-items: center;
      gap: .55rem;
    }

    .nft-price {
      color: var(--c-cyan);
    }

    .nft-time-left {
      color: var(--c-blue-500);
    }

    .nft-icon {
      width: .75rem;
      height: auto;
    }

    .clock-icon {
      width: 1.25rem;
      height: auto;
    }

    .under-line {
      width: 100%;
      height: 1px;
      margin-top: 1.25rem;
      background-color: #8bacda35;
    }

    .creator-img {
      width: 40px;
      border: 1px solid white;
      border-radius: 50%;
      margin-right: 1rem;
    }

    .nft-creator-name {
      color: var(--c-white);
    }

    .nft-creator-name span {
      color: var(--c-blue-500);
    }
   /* =============================
   MEDIA SCREEN BREAK POINTS
   ============================= */
   @media screen and (min-width: 1000px) {

    .nft-hero-overlay {
      position: absolute;
      background-color: transparent;
      height: 310px;
      width: 310px;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color .5s ease;
    }

    .nft-hero-overlay:hover {
      height: 310px;
      width: 310px;
      border-radius: 8px;
      background-color:#00fff765;
      background-image: url(./images/icon-view.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    .nft-creator-name a {
      transition: color .5s ease;
    }

    .nft-creator-name a:hover {
      color: #00fff7;
    }
   }